<div class="container">

  <div class="dates-rent col-xs-12 col-md-6">
    <h1>Selecionar atividades</h1>
    <p>1.Insira a data para checar disponibilidade</p>
    <p><%= render 'form' %></p>
  </div>

</div>
