<p>Olá <%= @service.buyer.first_name %>,</p>

<p>Serviço enviado para o cuidador.</p>
<p>Aguarde a confirmação.</p>

<p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Quem manda na minha terra sou euzis! Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>

