<p>Olá <%= @service.buyer.first_name %>,</p>

<p>Assim que o serviço for feito, autorize o pagamento</p>
<p>Apenas a sua autorização vai permitir a transação</p>

<div>
  <%=link_to 'Autorizar', user_url(@service.buyer) %>
</div>

<p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Quem manda na minha terra sou euzis! Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
