<div class="container">
  <p>Bem-vindos!</p>

  <p><%= @owners.count %> usuários </p>
  <p><%= @caregivers.count %> cuidadores </p>
  <%= link_to 'Cuidadores', users_path %>

</div>


<div class="container">
  <p>como funciona</p>

</div>



